<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Log In</h2>
    <h4><%= link_to('Or log in with Facebook!', '/auth/facebook') %></h4><br>
    <%= form_for @voter, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

    <% if @voter.errors.any? %>
      <div class="alert alert-danger">
        <strong>Error:</strong> Please correct the following errors and try again:
        <ul>
        <% @voter.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>

      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control", type: "password" %>

      <hr class="my-4">
      <%= f.submit "Log In", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
