<p class="lead"><b>Total donated:</b> $<%= @donations.total_donations %> (<%= pluralize(@donations.size, "total donation") %>)</p>
<p class="lead"><b>Average donation:</b> $<%= @donations.average_donation %></p>

<div class="container col-sm-10 col-sm-offset-1">
  
  <hr class="my-4">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="col-sm-1">Amount</th>
        <th scope="col" class="col-sm-1">When</th>
        <th scope="col" class="col-sm-2">Voter</th>
        <th scope="col" class="col-sm-2">Politician</th>
        <th scope="col" class="col-sm-3">Description</th>
      </tr>
    </thead>
    <tbody>
        <% donations.each do |donation| %>
          <tr>
            <th scope="row"><%= link_to "$#{donation.dollars}", politician_donation_path(donation.politician, donation) %></th>
            <td><%= donation.created_at.strftime("%b %e, %Y") %></td>
            <td><%= link_to donation.voter.username, voter_path(donation.voter) %></td>
            <td><%= link_to donation.politician.name, politician_path(donation.politician) %></td>
            <td><%= donation.description %> </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
