<center>
  <div class="container">
    <h1><%= @politician.name %></h1><br>
    <p class="lead"><b>Party:</b> <%= @politician.party %></p>

    <% if @politician.donations.any? %>
      <%= render partial: "donations/list", locals: {donations: @donations} %>
    <% else %>
      <p class="lead">No one's donated to <%= @politician.name %> yet.</p>
    <% end %>
  </div>
  <br>
  <p><%= link_to "Donate to #{@politician.name}", new_politician_donation_path(@politician), class: "btn btn-primary", role: "button" %></p>
</center>
