<center>
  <div class="container">
    <h1><%= @politician.name %></h1>
    <h4>Party: <%= @politician.party %></h4>

    <% if @politician.donations.any? %>
      <%= render partial: "donations/list", locals: {donations: @donations} %>
    <% else %>
      <h3>No one's donated to <%= @politician.name %> yet. Be the first!</h3>
    <% end %>
  </div>
  <br>
  <p><%= link_to "Donate to #{@politician.name}", new_politician_donation_path(@politician), class: "btn btn-primary", role: "button" %></p>
</center>
