<!DOCTYPE html>
<html>
  <head>
    <title>Adopt A Politician</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Adopt A Politician</a>
          </div>
          <ul class="nav navbar-nav navbar-left">
            <% if !signed_in? %>
              <li class="<%= 'active' if params[:controller] == 'welcome' %>"><a href="/">Home</a></li>
            <% else %>
              <li class="<%= 'active' if params[:controller] == 'politicians' %>"><a href="/politicians">Politicians</a></li>
              <li class="<%= 'active' if params[:controller] == 'donations' %>"><a href="/donations">Donations</a></li>
              <% if current_user.admin %>
                <li class="<%= 'active' if params[:controller] == 'voters' && params[:action] == 'index' %>"><a href="/voters">Voters</a></li>
              <% end %>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li><a href="#"><span class="glyphicon glyphicon-credit-card"></span> Wallet contains $<%= current_user.dollars %></a></li>
              <li class="<%= 'active' if params[:controller] == 'voters' %>"><a href="/voters/<%= current_user.id %>">My account</a></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% else %>
              <li><a href="/login">Log in</a></li>
            <% end %>
          </ul>
      </div>
    </nav>
    <%= yield %>
  </body>


</html>
